# Title
[]()

In [1]:
import requests
import json
from pandas import json_normalize  
import pandas as pd
import sys
sys.path.append(r"C:\Users\silvh\OneDrive\lighthouse\custom_python")
from silvhua import *
import pickle
import os

In [20]:
# sys.path.append(r'C:\ProgramData\Anaconda3\Scripts')
# sys.path.append(r'C:\ProgramData\Anaconda3')
# sys.path.append(r'C:\ProgramData\Anaconda3\Library\bin')

In [2]:
with open("credentials.json") as f:
    access_token = json.load(f)['access_token']
user_id = os.environ['fb_user_id']

# Get Posts

In [33]:
def get_user_post(user_id, access_token, pages=5, filename=None,
    json_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\raw',
    csv_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim'):
    user_id = str(user_id)
    url_root = "https://graph.facebook.com/v15.0/"
    url = f'{url_root}{user_id}/posts?access_token={access_token}'
    response_json_dict = dict()
    df_list = []
    for page in range(1,pages+1):
        response = requests.get(url)
        print('Response status code: ',response.status_code)
        response_json_dict[page] = response.json()
        df_list.append(json_normalize(response_json_dict[page], record_path='data'))
        try:
            url = response_json_dict[page]['paging']['next']
        except: 
            pass
    df = pd.concat(df_list)
    print('Number of posts:',len(df))
    if filename:
        try:
            save_csv(df,filename,csv_path)
            savepickle(response_json_dict,filename,'sav',json_path)
        except:
            print('Unable to save outputs')
    return df, response_json_dict

# SH 2023-01-16 16:58 Need to update this so that:
    # The URL of the last request is returned in case you want to request posts further back
    # If it is the last page, it won't just keep making request with the same endpoint

In [ ]:
df_5p, response_json_5p = get_user_post(user_id, access_token)
df_5p

In [24]:
json_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\raw'
csv_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim'
filename='my_fb_posts_5page_2023-01-12'
save_csv(df_5p,filename,csv_path)
savepickle(response_json_5p,filename,'sav',json_path)

File saved:  C:/Users/silvh/OneDrive/lighthouse/portfolio-projects/online-PT-social-media-NLP/data/interim/my_fb_posts_5page_2023-01-12.csv
File saved:  C:/Users/silvh/OneDrive/lighthouse/portfolio-projects/online-PT-social-media-NLP/data/raw/my_fb_posts_5page_2023-01-12.sav

In [7]:
csv_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim'
df_5p = load_csv('my_fb_posts_5page_2023-01-12.csv', csv_path, column1_as_index=True)
df_5p

Dataframe shape:  (119, 3)

,created_time,message,id
0,2023-01-11T03:17:40+0000,There was a time when my only exercise was run...,10104327314119821_10104327972240941
1,2023-01-09T21:30:18+0000,"For the US, ""Wearable technology (#1), strengt...",10104327314119821_10104326999794731
2,2023-01-09T17:06:33+0000,Excited to see developments in wearable tech!\...,10104327314119821_10104326849426071
3,2023-01-07T21:36:58+0000,Pomelos are one of my favourite fruits. It is ...,10104327314119821_10104325303319481
4,2023-01-06T19:39:51+0000,What's your favourite app or wearable that hel...,10104327314119821_10104324466536401
...,...,...,...
18,2021-12-14T19:36:06+0000,New toy,10104327314119821_10103955698231041
19,2021-12-05T06:57:42+0000,NaN,10104327314119821_10103949690400781
20,2021-12-05T06:57:26+0000,💛,10104327314119821_10103949690325931
21,2021-12-03T22:47:08+0000,Did you know that the only way to get better i...,10104327314119821_10103948774531191
22,2021-12-03T00:13:54+0000,"Paleo pumpkin bread with pumpkin puree, coconu...",10104327314119821_10103948206983561

In [ ]:
json_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\raw'
filename='my_fb_posts_5page_2023-01-12.sav'
response_json_5p = loadpickle(filename, json_path)
response_json_5p

## process_post

In [32]:
import re
def process_post_df(df):
    """
    Convert dates in the json-derived dataframe into different formats.
    """
    df.reset_index(drop=True, inplace=True)
    regex_date = r'.+T'
    df2 = pd.DataFrame()
    df2['timestamp'] = pd.to_datetime(df['created_time'])
    df2['text'] = df['message']
    df2['date'] = df2['timestamp'].dt.date
    df2['year'] = df2['timestamp'].dt.year
    df2['month'] = df2['timestamp'].dt.month
    df2['day_of_week'] = df2['timestamp'].dt.dayofweek
    df2['time'] = df2['timestamp'].dt.time
    df2['time'] = df2['timestamp'].dt.time
    return df2

process_post_df(df_5p.head(3).copy())

,timestamp,text,date,year,month,day_of_week,time
0,2023-01-11 03:17:40+00:00,There was a time when my only exercise was run...,2023-01-11,2023,1,2,03:17:40
1,2023-01-09 21:30:18+00:00,"For the US, ""Wearable technology (#1), strengt...",2023-01-09,2023,1,0,21:30:18
2,2023-01-09 17:06:33+00:00,Excited to see developments in wearable tech!\...,2023-01-09,2023,1,0,17:06:33

In [40]:
process_post_df(df_5p.head(3).copy()).dtypes

timestamp      datetime64[ns, UTC]
text                        object
date                        object
month                        int64
day_of_week                  int64
time                        object
dtype: object

# Get Photos

## `get_user_photos`

In [94]:
def get_user_photos(user_id, access_token, pages=5, filename=None,
    json_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\raw',
    csv_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim'):
    user_id = str(user_id)
    url_root = "https://graph.facebook.com/v15.0/"
    url = f'{url_root}{user_id}/photos?type=uploaded&access_token={access_token}'
    response_json_dict = dict()
    df_list = []
    for page in range(1,pages+1):
        response = requests.get(url)
        print('Response status code: ',response.status_code)
        response_json_dict[page] = response.json()
        df_list.append(json_normalize(response_json_dict[page], record_path='data'))
        try:
            url = response_json_dict[page]['paging']['next']
        except: 
            pass
    df = pd.concat(df_list)
    print('Number of photos:',len(df))
    if filename:
        try:
            save_csv(df,filename,csv_path)
            savepickle(response_json_dict,filename,'sav',json_path)
        except:
            print('Unable to save outputs')
    return df, response_json_dict
# SH 2023-01-16 16:58 Need to update this so that:
    # The URL of the last request is returned in case you want to request posts further back
    # If it is the last page, it won't just keep making request with the same endpoint

In [ ]:
df_photos, response_json_photos = get_user_photos(user_id, access_token, pages=2)

In [12]:
df_photos.head(10)

,created_time,name,id
0,2023-01-13T19:50:47+0000,It’s been 1 month since I finished my data sci...,10104329950835821
1,2023-01-07T21:36:58+0000,NaN,10104325301812501
2,2023-01-07T21:36:58+0000,NaN,10104325301787551
3,2023-01-07T21:36:58+0000,NaN,10104325301737651
4,2023-01-07T21:36:58+0000,NaN,10104325301687751
5,2023-01-06T19:39:51+0000,What's your favourite app or wearable that hel...,10104324466511451
6,2023-01-03T20:34:34+0000,Gamify your goals\n\nDuolingo was one of the p...,10104322209175171
7,2022-12-30T02:06:59+0000,NaN,10104318386994851
8,2022-12-30T02:06:59+0000,NaN,10104318386959921
9,2022-12-27T07:56:46+0000,While my podcast feed is mostly filled with po...,10104316147467881

In [13]:
json_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\raw'
csv_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim'
filename='my_fb_photos_2023-01-14'
save_csv(df_photos,filename,csv_path)
savepickle(response_json_photos,filename,'sav',json_path)

File saved:  C:/Users/silvh/OneDrive/lighthouse/portfolio-projects/online-PT-social-media-NLP/data/interim/my_fb_photos_2023-01-14.csv
File saved:  C:/Users/silvh/OneDrive/lighthouse/portfolio-projects/online-PT-social-media-NLP/data/raw/my_fb_photos_2023-01-14.sav

In [15]:
def save_response(df, response_json, filename,
    json_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\raw',
    csv_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim'):
    """
    Save the data frame and json_response from the Facebook API request.
    """
    save_csv(df,filename,csv_path)
    savepickle(response_json,filename,'sav',json_path)

# Pulling AM's Posts

In [91]:
with open("credentials.json") as f:
    credentials = json.load(f)

access_token = credentials['access_token']
am_user_id = credentials['am_user_id']

In [24]:
df_50p, response_json_50p = get_user_post(am_user_id, access_token, pages=50, 
    filename='AM_fb_posts_50page_2023-01-16')

Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
Response status code:  200
File saved:  C:/Users/silvh/OneDrive/lighthouse/portfolio-projects/online-PT-social-media-NLP/data/interim/AM_fb_posts_50page_2023-01-16.csv
File saved:  C:/Users/silvh/OneDrive/lighthouse/portfolio-projects/online-PT-social-media-NLP/data/raw/AM_fb_posts_50page_2023-01-16.sav

In [25]:
df_50p

,created_time,message,id
0,2023-01-04T15:06:57+0000,Charity event in Roscommon - Saturday 7th Janu...,545505737609234_537318481761293
1,2022-11-29T18:55:49+0000,Nutrition and Training Workshop 💪\n\nMy ethos ...,545505737609234_509802061179602
2,2022-10-04T22:39:50+0000,‘Why your metabolism is not broken’\n\nReally ...,545505737609234_467470882079387
3,2022-09-18T20:34:20+0000,Anyone else on TikTok? 🎯,545505737609234_455027709990371
4,2022-09-18T06:19:36+0000,Completed it mate ✅,545505737609234_454597556700053
5,2022-09-15T19:20:59+0000,Anyone doing Blackmores - marathon/half or 10km?,545505737609234_452894803536995
6,2022-08-23T08:49:02+0000,We had the most stunning time in Fiji 🇫🇯\n\nHa...,545505737609234_436768241816318
7,2022-08-16T02:04:54+0000,"If you can’t beat ‘em, join em 🍸",545505737609234_431993685627107
8,2022-08-14T23:22:47+0000,Bingo Loco 🫶,545505737609234_431270869032722
9,2022-08-10T21:13:31+0000,First night out out in awhile 🫶,545505737609234_428638645962611
10,2022-08-01T05:12:00+0000,Christmas in July 🎄❤️,545505737609234_422429943250148
11,2022-06-02T20:18:43+0000,❤️❤️❤️,545505737609234_382682757224867
12,2022-05-29T08:12:02+0000,I’d love to see what you’d caption this 😅\n\n⬇...,545505737609234_379552780871198
13,2022-02-07T19:29:39+0000,Last of the comp Spam I promise 🤣,545505737609234_307769374716206
14,2022-02-02T19:07:05+0000,Preparing for our first external comp 🥳,545505737609234_304784511681359
15,2022-01-29T10:16:48+0000,Me and Lillie Allen representing the ladies in...,545505737609234_302093805283763
16,2022-01-29T10:16:04+0000,First In House Comp of the year 🙌,545505737609234_302093515283792
17,2022-01-27T20:33:16+0000,NaN,545505737609234_301203155372828
18,2022-01-03T06:40:22+0000,Expires Tonight. Invitation for women who are ...,545505737609234_286353056857838
19,2021-12-19T19:15:22+0000,Run up to Christmas in Sydney 🙏,545505737609234_277533934406417
20,2021-11-16T07:47:31+0000,Right who here Squats???\n\nI'm going to be ho...,545505737609234_257020856457725
21,2021-11-09T06:31:04+0000,"Hey All,\n\n- Are you clueless about resistanc...",545505737609234_252527030240441
22,2021-11-03T19:17:52+0000,Any goals you'd like to achieve by the end of ...,545505737609234_249141407245670
23,2021-11-02T23:38:46+0000,Anyone out there still use a written diary or ...,545505737609234_248645757295235
0,2021-11-01T18:41:07+0000,What have you done recently that made you real...,545505737609234_247962924030185
1,2021-10-06T23:21:49+0000,NaN,545505737609234_230971169062694
2,2021-09-29T05:20:58+0000,"Last Chance people, if you're interested in my...",545505737609234_226206536205824
3,2021-09-20T20:20:52+0000,If anyone is interested in getting some help a...,545505737609234_220738340085977
4,2021-09-09T06:51:17+0000,𝙄𝙢𝙖𝙜𝙞𝙣𝙚 𝙉𝙊𝙏 𝙛𝙚𝙖𝙧𝙞𝙣𝙜 𝙖 𝙗𝙞𝙠𝙞𝙣𝙞 👙 ✖\n.\n.\n𝐈𝐦𝐚𝐠𝐢𝐧...,545505737609234_213187764174368
5,2021-09-02T06:56:40+0000,One Space left for Monday 6th. If you're inter...,545505737609234_208650987961379
6,2021-08-31T05:28:24+0000,28 Day Kickstarter \n\n‼️I'm looking for 5 lad...,545505737609234_207336971426114
7,2021-08-30T05:55:19+0000,NaN,545505737609234_206695284823616
8,2021-08-28T10:04:22+0000,Crossfit or body-building? 🤔,545505737609234_205475808278897
9,2021-08-18T04:21:26+0000,I did Front Foot Elevated Split Squats today f...,545505737609234_198907928935685
10,2021-08-16T09:27:13+0000,"If you're not already involved, get into this ...",545505737609234_197756439050834
11,2021-08-13T01:30:43+0000,Anyone interested in why you don't achieve res...,545505737609234_195604925932652
12,2021-08-10T23:06:29+0000,Favourite high protein breakfast? Minus eggs.....,545505737609234_194233939403084
13,2021-08-01T07:53:38+0000,‼️I'm looking for 5 ladies who want to become ...,545505737609234_187816276711517
14,2021-07-30T07:57:14+0000,Movie Suggestions? 🤔,545505737609234_186517523508059
15,2021-07-19T04:38:56+0000,https://www.coachmcloone.com/\n\nFinally have ...,545505737609234_178816784278133
16,2021-07-16T10:00:08+0000,If you knew Covid was coming.\n\nWhat would yo...,545505737609234_176622584497553
17,2021-07-01T06:13:39+0000,‼️I'm looking for 5 ladies who want to become ...,545505737609234_166417258851419
18,2021-06-30T22:53:38+0000,NaN,545505737609234_166240302202448
19,2021-06-26T11:51:06+0000,Anyone interested in gaining some nutrition kn...,545505737609234_163057309187414
20,2021-06-16T04:22:08+0000,What are people's favourite FB Groups to be ap...,545505737609234_156435016516310
21,2021-06-07T10:48:27+0000,https://www.facebook.com/100000504382136/posts...,545505737609234_150885450404600
22,2021-05-11T05:30:40+0000,Aoibheann's Experience:\n.\n.\nI started the p...,545505737609234_133207925505686
23,2021-05-06T04:43:38+0000,If you could eat one food and still achieve yo...,545505737609234_129813195845159
0,2021-05-03T00:12:56+0000,‼️I'm looking for 5 ladies who want to become ...,545505737609234_128188466007632
1,2021-04-27T04:45:39+0000,Snack Options ✅\n.\n.\nA question I get so fre...,545505737609234_126493706177108
2,2021-03-12T00:33:05+0000,NaN,545505737609234_109633854529760
3,2021-03-12T00:25:29+0000,NaN,545505737609234_109630651196747
4,1991-02-12T08:00:00+0000,NaN,545505737609234_109626264530519

In [35]:
def get_user_post(user_id, access_token, pages=5, filename=None,
    json_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\raw',
    csv_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim'):
    user_id = str(user_id)
    url_root = "https://graph.facebook.com/v15.0/"
    url = f'{url_root}{user_id}/posts?access_token={access_token}'
    response_json_dict = dict()
    df_list = []
    for page in range(1,pages+1):
        response = requests.get(url)
        print('Request URL:', url)
        print('Response status code: ',response.status_code)
        response_json_dict[page] = response.json()
        df_list.append(json_normalize(response_json_dict[page], record_path='data'))
        try:
            url = response_json_dict[page]['paging']['next']
        except: 
            pass
    df = pd.concat(df_list)
    print('Number of posts:',len(df))
    if filename:
        try:
            save_csv(df,filename,csv_path)
            savepickle(response_json_dict,filename,'sav',json_path)
        except:
            print('Unable to save outputs')
    return df, response_json_dict

In [ ]:
df_photos_am, response_json_photos_am = get_user_photos(am_user_id, access_token, pages=50,
    filename='AM_fb_photos_50page_2023-01-16')

In [38]:
df_photos_am

,created_time,name,id
0,2023-01-04T15:06:57+0000,Charity event in Roscommon - Saturday 7th Janu...,537318171761324
1,2022-11-29T18:55:49+0000,Nutrition and Training Workshop 💪\n\nMy ethos ...,509802031179605
2,2022-10-04T22:39:50+0000,‘Why your metabolism is not broken’\n\nReally ...,467470492079426
3,2022-09-18T06:19:36+0000,Completed it mate ✅,454597496700059
4,2022-08-23T08:49:02+0000,We had the most stunning time in Fiji 🇫🇯\n\nHa...,436768148482994
...,...,...,...
1,2021-03-12T00:33:05+0000,NaN,109633777863101
2,2021-03-12T00:25:31+0000,NaN,109630624530083
0,2021-04-27T04:45:39+0000,Snack Options ✅\n.\n.\nA question I get so fre...,126493682843777
1,2021-03-12T00:33:05+0000,NaN,109633777863101
2,2021-03-12T00:25:31+0000,NaN,109630624530083

In [51]:
index = 0
# df_photos_am.loc[index,"id"]
df_photos_am.reset_index(drop=True).loc[0,'id']

'537318171761324'

In [97]:
def get_photo(df_photos, index, access_token=access_token, filename=None,
    path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim\individual_photo_data'):
    """
    Get the url for the photo. This requires that the access token be active for the user of the photo.
    Parameters:
        - df_photos: DataFrame containing the API response.
        - index (int or list): Index in df_photos for which to obtain the url.
    Returns: URL for the photo.
    """
    df_photos.reset_index(drop=True, inplace=True)
    url_root = "https://graph.facebook.com/v15.0/"
    index_list = []
    url_list = []
    index_list.append(index)
    for index in index_list:
        request_url = f'{url_root}{str(df_photos.reset_index(drop=True).loc[index,"id"])}/picture?access_token='
        print('Request URL without access token:', request_url)
        request_url += access_token
        response = requests.get(request_url)
        print('Response status code: ',response.status_code)
        url_list.append(response.request.url)
    if filename:
        try:
            savepickle(url_list,filename+'_picture_url_'+str(index),'sav',json_path)
            savepickle(url_list,filename+'_api_response_'+str(index),'sav',json_path)
        except:
            print('Unable to save outputs')

    return url_list, response

In [ ]:
url_list, response = get_photo(df_photos, 0)

In [89]:
url_list

['https://scontent.fcxh3-1.fna.fbcdn.net/v/t39.30808-6/325443079_709033990789318_5257377445815459026_n.jpg?stp=cp1_dst-jpg_p960x960&_nc_cat=110&ccb=1-7&_nc_sid=453a68&_nc_ohc=UhhHUM1TfuQAX95CI46&_nc_ht=scontent.fcxh3-1.fna&edm=AIv30VUEAAAA&oh=00_AfAzjFiZEmfvHgXEU29sj6ue-bcNRBP9rxz4JEsFkbYgtw&oe=63CB06AC']

In [96]:
response

In [98]:
url_list_am0, response_am0 = get_photo(df_photos_am, 0)

Request URL without access token: https://graph.facebook.com/v15.0/537318171761324/picture?access_token=
Response status code:  400

# Get Videos

In [ ]:
def get_user_media(user_id, access_token, pages=5, type='videos',filename=None,
    json_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\raw',
    csv_path=r'C:\Users\silvh\OneDrive\lighthouse\portfolio-projects\online-PT-social-media-NLP\data\interim'):

    """
    Parmeters:
        - type ('videos' (default) or 'photos')
    """
    user_id = str(user_id)
    url_root = "https://graph.facebook.com/v15.0/"
    url = f'{url_root}{user_id}/{type}?type=uploaded&access_token={access_token}'
    response_json_dict = dict()
    df_list = []
    for page in range(1,pages+1):
        response = requests.get(url)
        print('Request URL:', url)
        print('Response status code: ',response.status_code)
        response_json_dict[page] = response.json()
        df_list.append(json_normalize(response_json_dict[page], record_path='data'))
        try:
            url = response_json_dict[page]['paging']['next']
        except: 
            pass
    df = pd.concat(df_list)
    print('Number of photos:',len(df))
    if filename:
        try:
            save_csv(df,filename,csv_path)
            savepickle(response_json_dict,filename,'sav',json_path)
        except:
            print('Unable to save outputs')
    return df, response_json_dict

df_videos_am, response_json_videos_am = get_user_media(am_user_id, access_token, pages=50,
    filename='AM_fb_videos_50page_2023-01-16')
df_videos_am

# SH 2023-01-16 16:01 Error message using Graph API explorer:
    # "(#10) This endpoint requires the 'pages_read_engagement' permission or the 'Page Public Content Access' feature. Refer to https://developers.facebook.com/docs/apps/review/login-permissions#manage-pages and https://developers.facebook.com/docs/apps/review/feature#reference-PAGES_ACCESS for details.",

# *End of Page*